<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>고민풀장</title>
    <link rel="stylesheet" href="../static/css/test.css" />
  </head>
  <body class="full-height">
    <div class="header-full-width"><%- include('header') %></div>
    <div class="index-container-wrap">
      <!-- 로그인 / 회원가입 모달 -->
<div class="modal">
  <div class="modal_body">
    <div>
      <img src="/static/images/pool.gif" />
      <img src="/static/images/pool2.gif" />
    </div>
    <div class="closeX">X</div>
    <!-- 로그인 -->
<div class="login" id="login-screen" style="display: none">
  <form name="form-login">
    <h2>WELCOME</h2>
    <label>
      <span class="left">Email</span>
      <input type="email" name="email" placeholder="이메일을 입력하세요" required />
      <span class="id_error">가입되지 않은 아이디입니다!</span>
    </label>
    <label>
      <span class="left">Password</span>
      <input type="password" name="password" placeholder="비밀번호를 입력하세요" required />
      <span class="pw_error">비밀 번호가 틀렸습니다!</span>
      <span class="pw_error">가입되지 않은 아이디입니다!</span>
    </label>
    <div class="checkbox-container">
      <label>
        <input type="checkbox" class="checkbox" />
        <span id="checkbox">자동 로그인</span>
      </label>
      <button type="button" class="join forget" id="forget-btn">Forget Password?</button>
    </div>
    <button type="button" onclick="loginFn()">로그인</button>
    <p class="user">아직 회원이 아니신가요?</p>
    <button type="button" class="join joinBtn" id="join-btn">회원가입</button>
  </form>
</div>

<!-- 회원 가입 -->
<div class="join" id="join-screen">
  <form name="form-join">
    <h2>JOIN US?</h2>
    <div class="flex">
      <label>
        <span class="left left-re">Email</span>
        <input type="email" name="email" class="email-join" required />@
        <select class="form-select" id="selection" name="selection">
          <option>gmail.com</option>
          <option>naver.com</option>
          <option>daum.net</option>
        </select>
      </label>
      <button type="button" class="duplication" onclick="duplCheck()">중복<br />검사</button>
    </div>
    <label>
      <span class="left">Password</span>
      <input type="password" name="password" placeholder="비밀번호를 입력하세요" required />
    </label>
    <label>
      <span class="left">Password (confirm)</span>
      <input type="password" name="confirmPw" placeholder="한 번 더 입력하세요" required />
    </label>
    <label>
      <span class="bold">비밀번호 찾기 질문</span>
      <select class="form-select" id="combo" name="combo">
        <option>출신 초등학교 이름은?</option>
        <option>학창시절 별명은?</option>
        <option>조부모님의 성함은?</option>
      </select>
    </label>
    <div>
      <label>
        <span class="bold">비밀번호 찾기 답</span>
        <input type="text" placeholder="위의 질문에 대한 답을 기입하세요" name="answer" required />
      </label>
    </div>
    <button type="button" onclick="joinFn()">회원 가입</button>
  </form>
</div>
    <button class="closeBtn">닫기</button>
  </div>
</div>

      <div class="index-container">
        <div class="main-container">
          <div class="top-section">
            <button class="refresh-button">새로고침</button>
            <div class="announcement-box">공지사항</div>
          </div>

          <div class="letter-container">
            <div class="warning-box">
              <h3>잠깐!!</h3>
              <p>보내시기 전 개인 정보가 포함되어 있는 지 확인하셨나요?!</p>
              <p>개인 정보 발설 시 고민풀장에서 일체의 책임을 지지 않습니다!!</p>
            </div>
          
            <div class="content-area">
              <input type="text" class="input-title" placeholder="제목을 입력하세요" />
              <textarea class="input-content" placeholder="내용을 입력하세요"></textarea>
          
              <div class="button-container">
                <button class="submit-button">고민 보내기</button>
              </div>
          
              <!-- 새로운 고민 섹션 -->
              <div class="new-worry" style="display: none">
                <h3 class="worry-title" placeholder="고민 제목"></h3>
                <p class="worry-content" placeholder="고민 내용"></p>
                
                <div class="button-container">
                  <button class="skip-button">건너뛰기</button>
                </div>
                
                <textarea class="reply-content" placeholder="답장을 입력하세요"></textarea>
          
                <div class="button-container">
                  <button class="reply-button">답장 보내기</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <script src="../static/main.js"></script>
  </body>
</html>
